body {
    display: flex;
    flex-direction: column;
    align-items: center;

}

.web {
    width: 1440px;

}

/* HEADER */
.header {
    max-width: 1440px;
    margin: auto; 
    background-color: #BC433B; 
    height: 108px; 
    display: flex;
    align-items: center;
    justify-content: center; 
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    padding: 0; 
}

.logo {
    margin-left: 106px; 
}
.logo img {
    width: 83px; 
    height: 69.768px;
    flex-shrink: 0; 
}

.nav {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 150px; 
    white-space: nowrap; 
}

.nav ul {
    list-style: none;
    display: inline-flex;
    justify-content: center;
    flex-wrap: nowrap;
    gap: 32px; 
}

.nav ul li {
    width: 132.75px;
    height: 29px;
    display: flex;
    justify-content: center; 
    align-items: center;
    margin: 0; 
}

.nav ul li a {
    color: #FFFFFF;
    font-family: Montserrat, sans-serif;
    font-size: 24px;
    font-weight: 500;
    text-decoration: none;
    text-align: center;
    transition: color 0.3s ease;
}

.nav ul li a.active {
    color: #FFCC66; 
}

.nav ul li a::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: -5px; 
    width: 0;
    height: 2px; 
    background-color: #FFCC66; 
    transition: width 0.3s ease;
}

.nav ul li a:hover::after {
    width: 100%; 
}

.nav ul li a:hover {
    color: #FFCC66;
}

.icons {
    gap: 25px; 
    margin: 110px; 
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.icons a img {
    width: 36px;
    height: 36px;
}

/* CONTENT */

.content {
    background-color: #E7B559; 
    height: 1850px;
    /* display: none; */
}

.content .grid__full-width,
.content-second .grid__full-width {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
}

.content__form {
    width: 1088px;
    height: 1561px;   
    background-color: var(--base-color);
    margin-top: 120px;
    border-radius: 42px;    

}

/* CONTENT - FORM SIGN UP */
#sign-up-form {
    display: flex;
    flex-direction: column;
    align-items: center;
    /* display: none;  */
}

.content__form-logo { 
    margin-top: 56px;

}

.content__form-logo img {
    width: 120px;
    height: 100px;
}

.content__form-title { 
    font-size: 2.8rem;
    
}

.content__form-title h1 {
    display: flex;
    flex-direction: column;
    align-items: center;
    color: var(--text-color);
    margin-top: 64px;

}

.content__form-title h1 p {
    margin-top: 4px;

}

.content__form input,
.content-second__form input {
    width: 640px;
    height: 87px;
    background-color: var(--base-color);
    border: 1px solid var(--white-color);
    border-radius: 8px;
    font-size: 3rem;
    padding: 12px;

}

.content__form input:focus,
.content-second__form input:focus  {
    outline: none;
    box-shadow: 0 0 10px var(--black-color);

}

.content__form-email__heading,
.content__form-name__heading,
.content__form-password__heading {
    font-size: 3rem;
    color: var(--text-color);
    margin-bottom: 20px;
    margin-top: 12px;
    position: relative;

}

.content__form-name__heading,
.content__form-password__heading {
    margin-top: 36px;

}

.content__form-password i {
    position: absolute;
    font-size: 3rem;
    color: var(--white-color);
    margin-top: 30px;
    margin-left: -52px;

}

.btn-sign-up {
    margin-top: 80px;
    background-color: var(--black-color);
    color: var(--text-color);
    font-weight: 600;
    font-size: 3rem;

}

.content__form-mores {
    margin-top: 72px;
    display: flex;

}

.content__form-more {
    font-size: 2.4rem;
    color: var(--white-color);

}

.btn-sign-up__option-1,
.btn-sign-up__option-2 {
    color: var(--black-color);
    background-color: #E6E6E6;
    
}

.btn-sign-up__option-1 {
    margin-top: -48px;

}

.btn-sign-up__option-2 {
    margin-top: 28px;

}

.btn-sign-up__option-1 img,
.btn-sign-up__option-2 img  {
    margin-right: 24px;

}

.content__form-has-acc {
    font-size: 2.4rem;
    margin-top: -16px;

}

.content__form-has-acc-heading {
    color: var(--text-color);
}

.content__form-has-acc-link {
    color: var(--black-color);
}

@keyframes growth {
    from {
        transform: translateY(20%);
        opacity: 0;
    }
    to {
        transform: translateY(0);
        opacity: 1;
    }
}

/* CONTENT - FORM LOG IN */
#log-in-form {
    display: none; 
    /* display: flex;*/
    flex-direction: column;
    align-items: center;
}

.form__log-in.content__form-logo,
.form__reset-pass.content__form-logo,
.form__reset-confirm.content__form-logo { 
    margin-top: 144px;

}

.form__log-in.content__form-logo img,
.form__reset-pass.content__form-logo img,
.form__reset-confirm.content__form-logo img {
    width: 120px;
    height: 100px;
}

.form__log-in.content__form-title { 
    font-size: 2.8rem;
    color: var(--text-color);
    margin-top: 28px;

}

.form__log-in .btn-sign-up__option-1,
.form__log-in .btn-sign-up__option-2 {
    color: var(--black-color);
    background-color: #E6E6E6;

}

.form__log-in .btn-sign-up__option-1 {
    margin-top: 40px;

}

.form__log-in .btn-sign-up__option-2 {
    margin-top: 28px;

}

.form__log-in .btn-sign-up__option-1 img,
.form__log-in .btn-sign-up__option-2 img  {
    margin-right: 24px;

}

.content__form-email__heading,
.content__form-name__heading,
.content__form-password__heading {
    font-size: 3rem;
    color: var(--text-color);
    margin-bottom: 20px;
    margin-top: 12px;
    position: relative;

}

.content__form-name__heading,
.content__form-password__heading {
    margin-top: 36px;

}

.content__form-password i {
    position: absolute;
    font-size: 3rem;
    color: var(--white-color);
    margin-top: 30px;
    margin-left: -52px;

}

.content__form-password-reset {
    font-size: 2.4rem;
    margin-top: 72px;

}

.content__form-no-acc {
    font-size: 2.4rem;
    margin-top: 80px;

}

.content__form-no-acc-heading {
    color: var(--text-color);
}

.content__form-no-acc-link {
    color: var(--black-color);
}

/* CONTENT-SECOND */

.content-second {
    background-color: #E7B559; 
    height: 1075px;
    display: none;

}

.content-second__form {
    width: 1088px;
    height: 820px;   
    background-color: var(--base-color);
    margin-top: 120px;
    border-radius: 42px;    

}

/* CONTENT-SECOND - FORM RESET PASSWORD */

.content-second__form-reset-pass {
    display: none;
    /* display: flex;*/
    flex-direction: column;
    align-items: center;

}

.form__reset-pass.content__form-title,
.form__reset-confirm.content__form-title { 
    font-size: 2rem;
    color: var(--text-color);
    margin-top: 12px;
    margin-left: -96px;

}

.content__form-description {
    font-size: 2.2rem;
    width: 540px;
    margin-left: -96px;
    margin-bottom: 40px;
    line-height: 28px;
    color: var(--text-color);
}

.btn-send-link,
.btn-back-home {
    background-color: var(--black-color);
    color: var(--text-color);
    font-weight: 600;
    font-size: 3rem;

}

.btn-send-link {
    margin-top: 44px;
}

/* CONTENT-SECOND - FORM RESET CONFIRM */

.content-second__form-reset-confirm {
    display: none;
    /* display: flex; */
    flex-direction: column;
    align-items: center;

}

.form__reset-confirm.content__form-title {
    margin-left: -12px;
}

.form__reset-confirm.content__form-description {
    width: 628px;
    margin-left: -12px;
}

.btn-back-home {
    margin-top: 32px;

}

.btn-justify {
    background-color: var(--base-color);
    color: var(--text-color);
    font-size: 3rem;
    border: 1px solid var(--text-color);
    margin-top: 24px;

}

.btn-justify i {
    margin-right: 12px;
    font-size: 4.4rem;

}

/* FOOTER */
.footer {
    height: 400px;
    background-color: var(--black-color);
    color: #E7B559;
    
}

.footer .grid__full-width {
    display: flex;
}

.footer__access {
    width: 200px;
    display: flex;
    flex-direction: column; 
    margin-left: 106px;
    padding-top: 118px;
    
}

.footer__access-heading,
.footer__address-heading {  
    font-size: 2.4rem;
    font-weight: 600;
    margin-bottom: 24px;

}

.footer__access input {
    background-color: #E7B559;
    padding: 12px;
    border-radius: 8px;
    font-weight: 600;
    font-size: 1.2rem;

}

.footer__access-small-input {
    width: 160px;
    height: 30px;
    margin-bottom: 8px;

}

.footer__access-big-input {
    height: 76px;
    display: flex;
    justify-content: start;
    margin-bottom: 16px;

}

.footer__access-send-btn {
    background-color: #E7B559;
    padding: 12px;
    border-radius: 8px;
    font-weight: 600;
    font-size: 2rem;
    width: 160px;
    height: 42px;
    display: flex;
    align-items: center;
    justify-content: center;

}

.footer__address {
    padding-top: 118px;
    margin-left: 264px;
    width: 220px;

}

.footer__address-sub-heading {
    font-size: 1.4rem;

}

.footer__address-list {
    list-style: none;
    margin-left: -40px;
    font-size: 1.2rem;

}

.footer__addredd-list-item {
    margin-bottom: 6px;

}

.footer__policy {
    padding-top: 118px;
    margin-left: 256px;
    width: 220px;

}

.footer__social {
    margin-top: 352px;
    margin-right: 12px;

}

.footer__social .FB {
    width: 30px;
    height: 30px;

}

.footer__social img {
    border-radius: 20px;
    margin-right: 8px;

}